html,
body {
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url("../../resources/img/bg.webp");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background: #f8faff; */
}

#header {
	background-color: #ffffffbe;
}

.headeritem {
	height: 100%;
}

.headerimg {
	height: 50px;
}

.headericon {
	height: 30px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.pointer {
	cursor: pointer;
}

.groupheader {
	font-size: 50px;
	color: #5c5470 !important;
	border-bottom: 10px solid #5c5470 !important;
}

/* notification styling overide  */
.vue-notification {
	margin-right: 0 !important;
}

.notification-content {
	font-size: 16px;
	font-family: system-ui;
}

/* POPUP */
.popup {
	position: absolute;
	width: 80%;
	height: fit-content;
	max-height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 0 0 4px 1px rgb(151, 151, 151);
	border-radius: 5px;
	z-index: 9999999999999999;
}

/* others */
.bg-light-purple {
	background-color: #f0dffc !important;
}

.bg-purple {
	background-color: #eacbff !important;
}

.bg-dark-purple {
	background-color: #5c5470 !important;
	color: #FFF;
}

.text-light-purple {
	color: #f0dffc !important;
}

.text-purple {
	color: #eacbff !important;
}

.text-dark-purple {
	color: #5c5470 !important;
}

.btn-light-purple {
	background-color: #f0dffc !important;
}

.btn-purple {
	background-color: #eacbff !important;
}

.btn-dark-purple {
	background-color: #5c5470 !important;
	color: #FFF !important;
}

@media screen and (max-width: 600px) {
	.popup {
		width: 100%;
	}
}