.contactbox {
	color: #5c5470 !important;
	border-bottom: 10px solid #5c5470 !important;
}

.contactbox .input-group {
	padding: 0 10px;
}

.homeDienst {
	transform: skew(-15deg);
	border-bottom: 10px solid #5c5470
}

.homeDienstPrijs {
	width: 150px;
	text-align: right;
}

.homeDienstOmschrijving {
	height: fit-content !important;
}

#contactform h1{
	color: #5c5470 !important;
	border-bottom: 10px solid #5c5470 !important;
}