.groupheader {
	font-size: 80px;
}

.homeDienst {
	transform: skew(-15deg);
	border-bottom: 10px solid #5c5470
}

.homeDienstPrijs {
	width: 150px;
	text-align: right;
}

.homeDienstOmschrijving{
	height: fit-content !important;
}